*{
    margin: 0;
    box-sizing: border-box;
}
body{
  background-image: url(imagenes/main_image_star-forming_region_carina_nircam_final-5mb.jpg);
  background-position: center;
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: scroll;
}


.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;

  }


.circulo{
    height: 100vh;
    width: 100vh;
    background-color: #FFF176;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6; 
     filter: drop-shadow(0 -1mm 10mm rgb(64, 196, 255));

}
.circulo:hover{
    height: 1100px;
    width: 1100px;
    animation-name: cambiar-color-tamanio;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

.gilda{
    position: relative;
    z-index: 2;
    height: 80vh;
    width: 80vh;
    display: flex;
    bottom: 5%;
    justify-content: center;
    
}  
 .rosas{
  position: absolute;
  z-index: 3;
  top:60%;
  
  }
 
 .rosa{
  height: 15rem;
  filter: drop-shadow(0 -1mm 10mm rgb(64, 196, 255));
 }

 .rosa:hover{
  filter: drop-shadow(0 -1mm 10mm rgb(235, 216, 12));
height:15vh;
}
#rosa1{
  position: relative;
  z-index: 2;
  left: 17vh;
  bottom: 8vh;
}
#rosa2{
  position: relative;
  z-index: 1;
  left: 5%;
  top: 6vh;
}
#rosa3{
  position: relative;
  height: 35vh;
  z-index: 2;
  top: 60px;
}
#rosa4{
  position: relative;
  z-index: 1;
  right: 5%;
  top: 6vh;
}
#rosa5{
  position: relative;
  z-index: 2;
  right: 17vh;
  bottom: 8vh;
}


@keyframes cambiar-color-tamanio{
  0%{
        transform:scale(1);
        background-color: #FDD835
  }
  10%{
    transform: scale(1.1);
    background-color: #FBC02D;
  }
  20%{
    transform: scale(1.2);
    background-color: #F9A825;

  }
  30%{
    transform: scale(1.3);
background-color: #c37a43;
  }
    }


/* ExtraSmall devices  */

    @media only screen and (max-width: 220px) {
      
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 360px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 480px) {
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
 

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
 
}
@media only screen and (min-width: 1200px) {

}